@CHARSET "UTF-8";.j-global-toolbar div a{margin:0;padding:0;font:12px/150% Arial,Verdana,"宋体";color:#666}
.toolbar-wrap{position:fixed;top:0;right:0;z-index:9990;width:35px;height:100%}
.toolbar-wrap a{text-decoration:none}
.toolbar{position:absolute;right:0;top:0;width:29px;height:100%;border-right:6px solid #333}
.toolbar-panels{position:absolute;left:35px;top:0;width:270px;height:100%;z-index:2;background:#eceaea none repeat scroll 0 0}
.toolbar-panel{width:270px;height:100%;position:absolute;background:#eceaea none repeat scroll 0 0}
.tbar-panel-header{position:relative;width:270px;height:40px;line-height:40px;background:#eceaea none repeat scroll 0 0;font-family:"microsoft yahei";font-weight:normal;margin:0;padding:0}
.tbar-panel-header .title{display:inline-block;height:40px;color:#5e5050;font:16px/40px "微软雅黑"}
.tbar-panel-cart .tbar-panel-header i{width:20px;height:18px;background-position:0 0;margin-top:11px}
.tbar-panel-header i{margin-right:4px;margin-left:10px;vertical-align:top}
.tbar-panel-header i,.tbar-panel-header .close-panel{display:inline-block;font-style:normal;background-image:url("../img/right_cart.png");background-repeat:no-repeat}
.tbar-panel-header .title em{display:inline-block;vertical-align:top}
.tbar-panel-header .close-panel{width:12px;height:12px;background-position:0 -250px;position:absolute;right:8px;top:16px;cursor:pointer;transition:transform .2s ease-out 0s}
.tbar-panel-main{position:relative;margin:0;padding:0;font:12px/150% Arial,Verdana,"宋体";color:#666}
.tbar-tipbox{display:block}
.tbar-panel-content{width:270px;overflow-y:auto;overflow-x:hidden;position:relative}
.tbar-tipbox .tip-inner{padding:6px 5px;border:1px solid #edd28b;background:#fffdee none repeat scroll 0 0;text-align:center}
.tbar-tipbox .tip-text{display:inline-block;line-height:20px;vertical-align:middle;color:#333}
.tbar-tipbox .tip-btn{display:inline-block;height:20px;line-height:20px;padding:0 5px;margin-left:5px;color:#FFF;vertical-align:middle;background:#c81623 none repeat scroll 0 0}
.tbar-panel-cart .tbar-panel-footer{height:50px;background-color:#eceaea;margin:0;padding:0}
.tbar-checkout{height:40px;padding:5px 110px 5px 5px;position:relative}
.tbar-checkout .jtc-number strong{font-family:verdana;color:#c81623}
.tbar-checkout .jtc-number{line-height:20px;font:12px/150% Arial,Verdana,"宋体";color:#666}
.tbar-checkout .jtc-sum{line-height:20px;font:12px/150% Arial,Verdana,"宋体";color:#666}
.tbar-checkout .jtc-sum strong{font-family:verdana;color:#c81623}
.tbar-checkout .jtc-btn{position:absolute;right:5px;top:7px;width:110px;height:35px;font:16px/35px "微软雅黑";text-align:center;background:#c81623 none repeat scroll 0 0;color:#FFF}
.tbar-cart-list{width:100%;margin:0;padding:0;font:12px/150% Arial,Verdana,"宋体";color:#666}
.tbar-cart-item{padding:0 5px;margin-bottom:10px;background:#FFF none repeat scroll 0 0}
.jtc-item-promo{padding:12px 0 12px 0;border-bottom:1px dashed #e1e1e1}
.jtc-item-promo .promo-tag{position:relative;float:left;width:40px;height:20px;margin-top:-1px;margin-left:-57px;margin-right:17px;text-align:center;font:12px/20px "宋体";color:#FFF;background-color:#f58813}
.jtc-item-promo .promo-text{height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font:12px/18px verdana}
.jtc-item-goods{padding:10px 0;position:relative;overflow:hidden}
.jtc-item-goods .p-img{float:left;width:60px;height:60px;border:1px solid #DDD;padding:0;margin-right:5px}
.jtc-item-goods .p-img img{width:60px;height:60px}
.jtc-item-goods .p-name{height:32px;line-height:16px;margin-bottom:4px;overflow:hidden}
.jtc-item-goods .p-name a{color:#333}
.jtc-item-goods .p-price{height:25px;overflow:hidden;font:12px/16px verdana;color:#666;width:170px}
.jtc-item-goods .p-price strong{color:#c81623;font-weight:normal;float:left}
.jtc-item-goods .p-del{position:absolute;right:10px;top:46px;width:35px;height:16px;line-height:16px;color:#005aa0;text-align:right;display:none}
.tbar-panel-history div{padding:0}
.jt-history-wrap{width:235px;margin:0 auto}
.tbar-panel-history ul{overflow:hidden;margin-right:-15px;margin-top:0;list-style:outside none none;padding:0}
.tbar-panel-history .tbar-panel-header i{width:20px;height:17px;margin-top:11px;background-position:0 -100px}
.tbar-panel-follow .tbar-panel-header i{width:20px;height:17px;margin-top:11px;background-position:0 -50px}
.tbar-panel-history .jth-item{float:left;position:relative;width:100px;height:120px;margin-right:15px;background:#FFF none repeat scroll 0 0;margin-bottom:15px;padding:5px}
.tbar-panel-history .jth-item .img-wrap{display:block;width:100px;height:100px;text-align:center;margin-bottom:5px}
.tbar-panel-history .jth-item .add-cart-button{height:20px;line-height:20px;overflow:hidden;text-align:center;text-decoration:none;display:none;position:absolute;width:100px;bottom:25px;left:5px;z-index:3;color:#FFF;background:rgba(28,25,28,0.8) none repeat scroll 0 0}
.tbar-panel-history .jth-item .price{color:#c81623}
.tbar-panel-history .history-bottom-more{display:block;text-align:center;height:40px;line-height:40px;font-family:"宋体";color:#666}
.toolbar-header{position:absolute;top:0;right:-6px}
.toolbar-tabs{position:absolute;top:50%;left:0;width:35px;margin-top:-61px}
.toolbar-tab{position:relative;width:35px;height:35px;margin-bottom:1px;cursor:pointer;background-color:#333;border-radius:3px 0 0 3px;font:12px/150% Arial,Verdana,"宋体";color:#666;display:inline-block;background-image:url("../img/right_cart.png");background-repeat:no-repeat}
.tbar-tab-cart{background-position:-50px 0}
.tbar-tab-follow{background-position:-50px -50px}
.tbar-tab-history{background-position:-50px -100px}
.tbar-tab-message{background-position:-50px -144px}
.tab-ico{width:34px;height:35px;margin-left:1px;position:relative;z-index:2;background-color:#7a6e6e}
.tab-text{width:62px;height:35px;line-height:35px;color:#FFF;text-align:center;font-family:"微软雅黑";position:absolute;z-index:1;left:35px;top:0;background-color:#333;border-radius:3px 0 0 3px;transition:left .3s ease-in-out .1s;font-style:normal;margin:0;padding:0;cursor:pointer}
.tab-sub{position:absolute;z-index:3;right:2px;top:-5px;height:11px;padding:1px 2px;border:1px solid #b61d1d;overflow:hidden;color:#FFF;font:11px/11px verdana;text-align:center;min-width:11px;border-radius:10px;background-color:#cc6060;background-image:linear-gradient(to bottom,#cc6060 0,#b61d1d 100%)}
.toolbar-footer{position:absolute;bottom:-1px;width:100%;margin:0;padding:0;font:12px/150% Arial,Verdana,"宋体";color:#666}
.tbar-tab-top{background-position:-50px -250px}
.tbar-tab-feedback{background-position:-50px -300px}
.footer-tab-text{width:50px;height:35px;line-height:35px;color:#FFF;text-align:center;font-family:"微软雅黑";position:absolute;z-index:1;left:35px;top:0;background-color:#7a6e6e;border-radius:3px 0 0 3px;transition:left .3s ease-in-out .1s;font-style:normal;margin:0;padding:0;cursor:pointer}
.tbar-tab-hover{left:-60px;background-color:#c81623}
.tbar-tab-footer-hover{left:-48px;background-color:#c81623}
.tbar-tab-selected{background-color:#c81623}
.tbar-tab-selected .tab-sub{color:#c81623;background-color:#FFF;background-image:linear-gradient(to bottom,#FFF 0,#FFF 100%);box-shadow:1px 1px 3px rgba(0,0,0,0.3);text-shadow:1px 0 1px rgba(0,0,0,0.3)}
.tbar-tab-click-selected{background-color:#c81623}
.tbar-tab-click-selected .tab-sub{color:#c81623;background-color:#FFF;background-image:linear-gradient(to bottom,#FFF 0,#FFF 100%);box-shadow:1px 1px 3px rgba(0,0,0,0.3);text-shadow:1px 0 1px rgba(0,0,0,0.3)}
.survey-tab-ico{display:none}
.survey-tab-text{left:0;width:35px;height:30px;padding:2px 0 3px;line-height:15px;background:#c81623 none repeat scroll 0 0;color:#FFF;text-align:center;font-family:"微软雅黑";position:absolute;z-index:1;top:0;border-radius:3px 0 0 3px;transition:left .3s ease-in-out .1s;font-style:normal;margin:0;cursor:pointer}
.toolbar-open{right:270px}
.j-close:hover{transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg)}
.tbar-panel-history .jth-item .add-cart-button:hover{background:#c81623 none repeat scroll 0 0}
.tbar-cart-item .buy-btn{background:#eee none repeat scroll 0 0;border:1px solid #ddd;color:#666;cursor:pointer;display:block;float:left;height:20px;line-height:20px;padding:0 5px}
input.right-cart-buy-num[type="text"]{border-color:#ddd -moz-use-text-color;border-style:solid none;border-width:1px 0;float:left;height:16px;text-align:center;width:40px}
.goods-remove{background:rgba(0,0,0,0) url("../img/right_cart.png") no-repeat 0 -290px;cursor:pointer;height:20px;overflow:hidden;padding:5px;position:absolute;right:-8px;top:4px;width:20px}
.right-carts-empty{margin-left:40px;margin-top:20px}
