@CHARSET "UTF-8";
.wst-hot-sales{background:#f1f1f1;width:1200px;margin-left: auto; margin-right: auto;margin-top:10px;padding:15px 0px;overflow:hidden;height:112px;}
.wst-hot-sales .wst-sales-logo{width:60px;float:left;text-align: center;position:relative;}
.wst-hot-sales .wst-sales-box{float:left;width:1130px;overflow:hidden;}
.wst-hot-sales .wst-sales-logo .wst-hot-icon{position: absolute;top:0;left:20px;width:19px;height: 70px;padding:2px 10px;background:url(../img/img_bg_goodslist_tjrm.png) 4px 0px no-repeat;text-align: center;writing-mode:tb-rl;}
.wst-hot-sales .wst-sales-box .item{height:120px;width:263px;background:#fff;margin-left:17px;float:left;}
.wst-hot-sales .wst-sales-box .item .img{float:left;width:120px;height: 120px;margin:0 auto;text-align:center;vertical-align:middle;display:block;position:relative;display:table-cell;}
.wst-hot-sales .wst-sales-box .item .img  a{display:table-cell;vertical-align:middle;width:120px; height:120px; padding:5px;} 
.wst-hot-sales .wst-sales-box .item .img a img{max-width:110px;max-height:110px; } 
.wst-hot-sales .wst-sales-box .item .des{float:left;width:130px;height: 120px; padding:5px;line-height:20px;}
.wst-hot-sales .wst-sales-box .item .des .p-sale{font-weight: bold;color:#C00;}
.wst-hot-sales .wst-sales-box .item .des .p-name{height: 40px;line-height: 20px;overflow: hidden;}
.wst-hot-sales .wst-sales-box .item .des .p-price{font-weight: bold;color:#C00;}
.wst-hot-sales .wst-sales-box .item .des .p-buy a {display: inline-block;line-height: 14px;height: 14px;border-radius: 2px;background: #F7F7F7;text-align: center;text-decoration: none;cursor: pointer;border: 1px solid #DDD;padding: 4px 13px 5px;color: #666;background-color: #f7f7f7;background-repeat: repeat-x;background-image: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);background-image: -webkit-linear-gradient(top,#f7f7f7,#f2f2f2);background-image: -o-linear-gradient(top,#f7f7f7,#f2f2f2);background-image: linear-gradient(top,#f7f7f7,#f2f2f2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType=0);}
.wst-hot-sales .wst-sales-box .item .des .p-buy a:hover{color:#df2003;}
.wst-filters{width:1200px;margin-left: auto;margin-right: auto;margin-top:10px;color:#999;}
.wst-filters div.item,.wst-address div.item{float:left;margin-right:6px;position:relative;}
.wst-filters .arrow,.wst-address .arrow{float:left;position: relative;top:2px;padding-right:12px;font-style: normal;}
.wst-filters .item .link,.wst-address .item .link{color:#666;float:left;border:0px;margin-right:5px;height:22px;line-height: 22px;}
.wst-filters .item .drop-down,.wst-address .item .drop-down{float:left;margin-right:5px;border: 1px solid #eee;display: inline-block;height: 23px;line-height: 23px;padding: 0 4px 0 8px;vertical-align: top;position: relative;background-color: #fff;  }
.wst-filters .item .drop-down .drop-down-arrow,.wst-address .item .drop-down .drop-down-arrow{display: inline-block;width: 20px;height: 20px;vertical-align: top;background: url(../img/search.png) no-repeat 4px 7px;-webkit-transition: background-position .15s ease-in-out;-moz-transition: background-position .15s ease-in-out;transition: background-position .15s ease-in-out;} 
.wst-filters .item .drop-down.hover{border-color:#df2003;border-bottom:0;z-index: 100}
.wst-address .item .drop-down.hover{border-color:#ddd;border-bottom:0;z-index: 2}
.wst-filters .item .drop-down.hover .drop-down-arrow,.wst-address .item .drop-down.hover .drop-down-arrow{background-position: 4px -44px;}
.wst-filters .item .dorp-down-layer{border: 1px solid #ddd;border-top:0;display:none;left:0px;top:22px;position:absolute;z-index: 99;background:#fff;min-width: 320px;border: 1px solid #df2003;}
.wst-address .item .dorp-down-layer{padding:10px;border: 1px solid #ddd;border-top:0;display:none;left:0px;top:22px;position:absolute;z-index: 1;background:#fff;min-width: 320px;border: 1px solid #ddd;}
.wst-filters .item .dorp-down-layer div.cat1,.wst-address .item .dorp-down-layer div.cat1{float:left;width:140px;  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px 8px;}
.wst-filters .item .dorp-down-layer div.cat2,.wst-address .item .dorp-down-layer div.cat2{float:left;width:80px;  overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px 8px;}
.wst-filters .item .dorp-down-layer div:hover,.wst-filters .item .dorp-down-layer a:hover{color:#df2003;cursor:pointer;}
.wst-address .item .dorp-down-layer div:hover,.wst-address .item .dorp-down-layer a:hover{color:#ff8043;;cursor:pointer;}
.wst-filters .item .v-item,.wst-address .item .v-item{float:left;color:#666;border: 1px solid #ddd;cursor: pointer;display: inline-block;font-size: 12px;height: 22px;line-height: 22px;margin: 0 5px 5px 0;padding: 0 30px 0 4px;position: relative;vertical-align: top;}
.wst-filters .item .v-item:hover,.wst-address .item .v-item:hover{border-color: #e4393c;}
.wst-filters .item .v-item i,.wst-address .item .v-item i{  display: block;position: absolute;  width: 25px;height: 22px;right: 0;text-align:center;font-style: normal;top: 0;}
.wst-filters .item .v-item:hover i,.wst-address .item .v-item:hover i{background-color: #e4393c;color: #fff;}
.wst-filters .keyword,.wst-address .keyword{height:22px;line-height:22px;}
.wst-selector{width:1200px;margin-left: auto;margin-right: auto;margin-top:10px;color:#999;}
.wst-selector .head{padding-left:10px;background: #f1f1f1 none repeat scroll 0 0;border-bottom: 1px solid #ddd;height: 34px;line-height: 34px;overflow: hidden;}
.wst-selector .main{}
.wst-selector .item{border-bottom: 1px solid #ddd;line-height: 34px;width:1200px;height:auto;border-bottom: 1px solid #ddd;}
.wst-selector .label{float:left;width:90px;padding-left:10px;}
.wst-selector .content{float:left;width:990px;min-height: 30px;overflow: hidden;}
.wst-selector .content .s-item{float:left;margin-right:50px;color:#666;cursor:pointer}
.wst-selector .extra{float:left;width:110px;margin-top: 5px;}
.extra_more{float: left;margin-right: 10px;position: relative;width: 39px;height: 23px;line-height: 23px;padding: 0 7px 0 4px;background: #fff;visibility: hidden;color: #333;border: 1px solid #ddd;}
.extra_multi{float: left;height: 23px;line-height: 23px;border: 1px solid #DDD;padding: 0 3px 0 18px;position: relative;background: #fff;color: #333;}
.extra_multi i,.extra_more i{position: absolute;display: block;font-style: normal;width: 13px;height: 20px;background-image: url(../img/search.png);transition:all ease 0.2s;}
.extra_more i{top: 1px;right: 2px;width: 20px;background-position: 4px 7px;}
.extra_more:hover,.extra_more:hover i{color:red;background-position: 4px -10px;}
.extra_multi:hover,.extra_multi:hover i{border-color: red;color:red;background-position: 0px -84px;}
.extra_more_on i{background-position: 4px -27px!important}
.extra_more_on:hover i{background-position: 4px -44px!important}
.extra_multi i{left: 3px;top: 1px;background-position: 0 -63px;}
.multi_on{border: 2px solid #edd28b!important;background: #fffdee;height: 120px;width:1195px!important;}
.multi_btns{width: 100%;text-align: center;margin: 10px 0;}
.multi_btns a{display: inline-block;padding: 0px 7px;border: 1px solid #ddd;color: #666;background-color: #f7f7f7;border-radius: 2px;}
.multi_btns .confirm_btn{background-color: #E74649;color: #fff;margin-right: 10px;visibility:hidden;}
.multi_btns .disable_btn{background-color: #ddd;color: #fff;}
.s-item i{position: absolute;left: 0;top: 2px;background: url(../img/search.png) no-repeat 9999px 9999px;display: inline-block;height: 12px;width: 12px;background-color: #fff;border: 1px solid #ccc;font-size: 0;visibility: hidden;}
.selected i{border-color: #e4393c;background-position: -1px -107px!important;}
.multi_on .s-item i{visibility: visible;}
.s_chk{padding-left: 18px;position:relative}
.brand_itembox{padding: 1px 0!important;height: 70px;margin: 10px 0;}
.brand_item{width: 10%;border: 1px solid #DDD;margin: -1px -1px 0 0!important;height:68px;overflow:hidden;text-align: center;background-color: #fff;}
.brand_item a.s_chk{visibility: hidden!important;}
.brand_itembox .selected{position: relative;z-index: 10;border-color: #e4393c!important;}
.brand_itembox .selected .g_bd_imgbox{border-color: #e4393c;}
.brand_item:hover{position: relative;z-index: 10;border-color: #e4393c;box-shadow: 2px 2px 3px rgba(0,0,0,.12);}
.brand_item:hover .g_bd_imgbox{color:#e4393c;line-height: 68px;}
.brand_item:hover .g_bd_img{display: none;}
.g_bd_img{width: 100%;height: 100%;}
.g_bd_imgbox{border:1px solid transparent;width:98%;height:68px;line-height: 28px;}
.wst-selector .item-more-box{border-top: 1px solid #ddd;position: relative;text-align: center;top: -1px;transition: border-color 0.15s ease-in-out 0s;}
.wst-selector .item-more-box .item-more{position: relative;top:-1px;border-top:0px;padding:0 40px 0 20px;background: #fff none repeat scroll 0 0;border-color: #fff #ddd #ddd; border-style: solid;border-width: 1px;color: #333;cursor: pointer;display: inline-block;height: 28px;line-height: 28px;position:relative;}
.wst-selector .item-more-box .item-more i{display: inline-block;width: 20px;height: 20px;vertical-align: top;background: url(../img/search.png) no-repeat;position:absolute;top:3px;}
.wst-selector .item-more-box .item-more i.drop-down{background-position: 4px 7px;}
.wst-selector .item-more-box .item-more i.down-hover{background-position:  4px -11px;}
.wst-selector .item-more-box .item-more i.drop-up{background-position:  4px -27px;}
.wst-selector .item-more-box .item-more i.up-hover{background-position:  4px -44px;}
.wst-selector .item-more-box .item-more i.drop-down-icon{background-position:  4px -9px;}
.wst-selector .item-more-box:hover {border-color: #e4393c;}
.wst-selector .item-more-box:hover .item-more {border-color: #fff #e4393c #e4393c;color: #e4393c;}
.wst-container .goods-side{float:left;width:210px;margin-top:10px;margin-right:5px;}
.wst-container .goods-side .title{line-height:35px;background-color: #f7f7f7;text-align: center;}
.wst-container .goods-side .guess-like{min-height:300px;border:1px solid #eee;padding-bottom:10px;}
.wst-container .goods-side .item{padding-top:10px;}
.wst-container .goods-side .item .img{width:200px;margin:0 auto;text-align:center;vertical-align:middle;display:block;position:relative; display:table-cell; padding:4px;}
.wst-container .goods-side .item .img  a{display:table-cell;vertical-align:middle;width:200px; height:200px;} 
.wst-container .goods-side .item .img a img{max-width:190px;max-height:190px;} 
.wst-container .goods-side .item .p-price{padding:5px;font-weight: bold;color:#C00;font-size:14px;}
.wst-container .goods-side .item .v-price{text-decoration: line-through;color:#999;margin-left: 10px;font-weight: normal;font-size:12px}
.wst-container .goods-side .hot-goods{min-height:300px;border:1px solid #eee;margin-top: 15px;padding-bottom:10px;}
.wst-container .goods-main{float:right;width:980px;margin-top:10px;position: relative;}
.goods-main .goods-filters{border-top: 1px solid #ddd;margin-bottom: 5px;position: relative;z-index:4;}
.goods-main .goods-filters .line{padding:5px;height:25px;border-bottom: 1px solid #e5e5e5;}
.goods-main .goods-filters .line2{background:#f7f7f7;}
.goods-filters .line2 a{background: #fff none repeat scroll 0 0;border: 1px solid #e9e7e7;color: #333;float: left;height: 23px;line-height: 23px;padding: 0 20px;}
.goods-filters .line2 a:hover{border:1px solid #DF2003;}
.goods-filters .line .city{float:left;width:auto;}
.goods-filters .line .chk{float:left;height: 23px;line-height: 23px;margin-right:10px;}
.goods-filters .line a.curr {background: #DF2003 none repeat scroll 0 0;border: 1px solid #DF2003;color: #fff;}
.goods-filters .line .store,.goods-filters .line .store2,.goods-filters .line .store3{float:right;width:16px;height:13px;margin:5px 0px 0px 3px;}
.goods-filters .line .store{background:url(../img/store_icon_sx.png) 0px 0px no-repeat;}
.goods-filters .line .store2{background:url(../img/store_icon_sx_sel.png) 0px 0px no-repeat;}
.goods-filters .line .store3{background:url(../img/store_icon_sx_sel_up.png) 0px 0px no-repeat;}
.wst-price-ipts{float:left;position: relative;}
input.wst-price-ipt{width:66px;height: 19px;outline: none;padding-left:18px;border: 1px solid #e9e7e7;}
input.wst-price-ipt:focus{border: 1px solid #ff8043;}
.wst-price-ipt1{position: absolute;left: 14px;top: 4px;}
.wst-price-ipt2{position: absolute;right: 74px;top: 4px;}
.wst-price-but{outline: none;background:#f7f7f7;color: #9f9696;border: 1px solid #dad7d7;cursor:pointer;}
.wst-price-but:not(.disabled):not(:disabled):active, .wst-price-but.active{background: #f1f1f1;background-clip: padding-box;}
.goods-list{width:100%;}
.goods-list .goods{width:233px;margin:5px 4px 5px 6px;border:1px solid #eee;float:left;height:430px;}
.goods-list .goods:hover{border:1px solid #ddd;-webkit-box-shadow:0 0 10px #ddd;  -moz-box-shadow:0 0 10px #ddd;  box-shadow:0 0 10px #ddd;}
.goods-list .goods .img{width:233px;margin:0 auto;text-align:center;vertical-align:middle;display:block;position:relative; display:table-cell; padding:4px;}
.goods-list .goods .img  a{display:table-cell;vertical-align:middle;width:233px; height:233px;} 
.goods-list .goods .img a img{max-width:210px;max-height:210px;} 
.goods-list .goods .p-price{height:26px;line-height:26px;padding:5px 0px 5px 12px;font-weight: bold;color:#C00;font-size:14px;width:113px;float:left;overflow: hidden;}
.goods-list .goods .p-hsale{padding:5px 12px 5px 0;width:93px;float:right;text-align: right;}
.goods-list .goods .p-hsale span{font-weight: bold;color:#df2003;}
.goods-list .goods .p-hsale .p-add-cart{line-height: 24px;display: block;border: 1px solid #DF2003;width: 75px;height: 24px;text-align: center;color: #DF2003;float: right;}
.goods-list .goods .p-hsale .p-add-cart:hover{background: #DF2003;color: white;}
.goods-list .goods .p-name{height: 40px;line-height: 20px;overflow: hidden;width:210px;margin-left:12px;}
.goods-list .goods .p-shop{padding:5px 5px 5px 12px;position: relative;}
.goods-list .goods .p-shop .contrast{position: absolute;padding-left: 17px;top:5px;right:10px;z-index: 1;}
.goods-list .goods .p-shop .contrast:hover{color:#e4393c;}
.goods-list .goods .p-shop .contrast i{position: absolute;top: 3px;left: 0;width: 14px;height: 14px;background: url(../img/contrast.png) 0 0 no-repeat;background-size: 100%;}
.goods-list .goods .p-mprice{color:#999;padding:5px 0px 5px 12px;width:113px;float:left;}
.goods-list .goods .p-mprice span{text-decoration: line-through;}
.goods-list .goods .p-appraise{padding:5px 5px 5px 0px;width:100px;float:right;text-align: right;}
.goods-list .goods .p-appraise span{font-weight: bold;color:#1499E5;}
.goods-list .goods .tags{padding-left:10px;}
.goods-list .goods .tags .tag{background:#DF2003;color:#ffffff;padding:0px 4px 1px 4px;margin-right:5px;border-radius:8%}
.img_list{padding-left: 5px;}
.img_list li{float:left;width: 25px;height: 25px;margin-right: 2px;box-sizing:border-box;overflow: hidden;cursor: pointer;}
.img_list li.curr{border: 1px solid red;}
.img_list li img{max-width: 100%;max-height: 100%;}
.wst-recommend,.wst-relook{margin-bottom: 20px;height:410px;border:1px solid #ddd;}
.wst-recommend .title,.wst-relook .title, .wst-gview .title{line-height:35px;background-color: #f7f7f7;padding:0 10px;border-top:2px solid #ddd;}
.tgoods-list{width:100%;}
.tgoods-list .goods{width:230px;margin:5px 0px 5px 6px;border:1px solid #ddd;float:left;}
.tgoods-list .goods:hover{border:1px solid #ddd;-webkit-box-shadow:0 0 10px #ddd;  -moz-box-shadow:0 0 10px #ddd;  box-shadow:0 0 10px #ddd;  }
.tgoods-list .goods .img{width:230px;margin:0 auto;text-align:center;vertical-align:middle;display:block;position:relative; display:table-cell; padding:4px;}
.tgoods-list .goods .img  a{display:table-cell;vertical-align:middle;width:230px; height:230px;} 
.tgoods-list .goods .img a img{max-width:223px;max-height:223px;} 
.tgoods-list .goods .p-price{padding:5px 0px 5px 5px;font-weight: bold;color:#df2003;width:120px;float:left;font-size:14px;}
.tgoods-list .goods .p-hsale{padding:5px 5px 5px 0;width:100px;float:right;text-align: right;}
.tgoods-list .goods .p-hsale span{font-weight: bold;color:#df2003;}
.tgoods-list .goods .p-hsale .p-add-cart{line-height: 15px;display: block;border: 1px solid #ff6a53;width: 75px;height: 15px;text-align: center;color: #ff6a53;float: right;}
.tgoods-list .goods .p-hsale .p-add-cart:hover{background: #ff6a53;color: white;}
.tgoods-list .goods .p-name{height: 40px;line-height: 20px;overflow: hidden;padding:0 5px;}
.tgoods-list .goods .p-shop{padding:5px;}
.tgoods-list .goods .p-mprice{color:#999;padding:5px 0px 5px 5px;width:120px;float:left;}
.tgoods-list .goods .p-mprice span{text-decoration: line-through;margin-left: 10px;font-weight: normal;}
.tgoods-list .goods .p-appraise{padding:5px 5px 5px 0;width:100px;float:right;text-align: right;}
.tgoods-list .goods .p-appraise span{font-weight: bold;color:#1499E5;}
.wst-gview{margin-top:10px;]margin-bottom: 20px;height:270px;border:1px solid #ddd;}
.wst-gview .view-goods .item{float:left;position:relative;width:162px;  margin: 5px 0px 5px 6px;border:1px solid #eeeeee;float:left;}
.wst-gview .view-goods .item:hover{border:1px solid #ddd;-webkit-box-shadow:0 0 10px #ddd;  -moz-box-shadow:0 0 10px #ddd;  box-shadow:0 0 10px #ddd;  }
.wst-gview .view-goods .item .img{width:156px;margin:0 auto;text-align:center;vertical-align:middle;display:block;position:relative; display:table-cell; padding:4px;}
.wst-gview .view-goods .item .img  a{display:table-cell;vertical-align:middle;width:156px; height:156px;} 
.wst-gview .view-goods .item .img a img{max-width:156px;max-height:156px;} 
.wst-gview .view-goods .item .p-price{padding:5px;font-weight: bold;color:#df2003;}
.wst-gview .view-goods .item .v-price{text-decoration: line-through;color:#999;margin-left: 6px;font-weight: normal;}
/*自定义复选框-列*/
.checkbox-box-s{float:left;width:15px;height:20px;margin-top: 3px;}
.wst-checkbox-s + label {-webkit-appearance: none;background-color: #ffffff;border: 1px solid #d5d5d5;padding: 6px;display: inline-block;position: relative;}
.wst-checkbox-s + label:after {content: '\2714';color: #ccc;font-size: 13px;position: absolute;top: -5px;left: 1px;}
.wst-checkbox-s:checked + label{border: 1px solid #ff8043;/* 修改选框选中颜色*/}
.wst-checkbox-s:checked + label:after {content: '\2714';color: #ff8043;font-size: 13px;position: absolute;top: -5px;left: 1px;}
.checkbox-box-s .wst-checkbox-s{position:relative;z-index:-654;left:-6px;top:-1px;}
.checkbox-box-s label{position: relative;top:-24px;left:-4px;}
.wst-no-goods{height: 50px;line-height:50px;color:red;text-align:center;font-weight:bold;}
.wst-no-goods span{color:#999;}
/*发货地*/
.tab-header{border-bottom:2px solid #df2003;width: 100%;height:20px;background: #fff;}
.tab li{display:block;margin:0px;float:left;background-color:#fff;height:20px;}
.tab-item1 a{background: #fff;color:gray;border:1px solid #ddd;float:left;min-width:80px;width:auto;text-align: center;}
.j-tab-selected1 a{background: #fff;border:2px solid #df2003;border-bottom: #fff solid 2px;}
.area{float: left;overflow: hidden;padding: 4px 8px;text-overflow: ellipsis;white-space: nowrap;width: 80px;}
.area-box li{float:left;width:80px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px 8px;}
/*商品对比*/
.wst-contrast{width: 100%;padding-top: 20px;padding-bottom: 29px;}
.wst-contrast .goods{background: #fff;}
.wst-contrast .goods .table,.wst-contrast .table2{width: 100%;border-collapse: collapse;table-layout: fixed;border-top: 1px solid #e4e4e4;border-left: 1px solid #e4e4e4;margin-top: -1px;}
.wst-contrast .goods .table td,.wst-contrast .goods .table th{padding: 20px 0 16px;border-right: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;line-height: 24px;font-family: SimSun;background: #fff;}
.wst-contrast .goods .table th{width: 125px;text-align: right;font-weight: 400;background: #f7f7f7;color: #999;}
.wst-contrast .choice{margin-left: 10px;margin-bottom: 10px;text-align: left;}
.wst-contrast .choice input{margin-right: 5px;vertical-align: middle;}
.wst-contrast .choice label {display: inline-block;height: 16px;line-height: 16px;vertical-align: middle;color: #666;}
.wst-contrast .goods-item{width: 200px;margin: 0 auto;}
.wst-contrast .goods-item:hover .operation .del{opacity: 1;}
.wst-contrast .goods-item .img{width: 100%;height: 160px;text-align: center;}
.wst-contrast .goods-item .img img{width: 160px;border: 0;vertical-align: middle;}
.wst-contrast .goods-item .name{height: 32px;overflow: hidden;margin-top: 10px;line-height: 16px;color: #333;}
.wst-contrast .goods-item .price{height: 28px;line-height: 28px;margin-top: 10px;font-family: "Microsoft YaHei";font-size: 14px;color: #e4393c;}
.wst-contrast .goods-item .price span{font-size: 20px;font-weight: 400;}
.wst-contrast .goods-item .operation{position: relative;width: 100%;height: 30px;margin-top: 13px;}
.wst-contrast .goods-item .operation .see{display: block;margin-bottom: 10px;width: 80px;height: 30px;line-height: 30px;text-align: center;background: #e4393c;color: #fff;}
.wst-contrast .goods-item .operation .see:hover{background: #e75153;}
.wst-contrast .goods-item .operation .del{position: absolute;right: 0;top: 5px;font: 12px/20px SimSun;opacity: 0;}
.wst-contrast .goods-item .operation .del:hover{color: #e4393c;}
.wst-contrast .goods-fixed{position: fixed;top: 0;z-index: 100;left: 50%;width: 1200px;margin-left: -600px;}
.wst-contrast .goods-fixed .img{float:left;width: 100px;height: 100px;}
.wst-contrast .goods-fixed .img img{width: 90px;margin-top: 5px;}
.wst-contrast .goods-fixed .name{display: none;}
.wst-contrast .goods-fixed .price,.wst-contrast .goods-fixed .operation{float:left;width: 100px;}
.wst-contrast .goods-fixed .operation .del{right:-16px;}
.wst-contrast .goods-fixed2{display: none;}
.wst-contrast .goods-fixed2 th{height: 126px;}
.wst-contrast .table2 td,.wst-contrast .table2 th{padding: 20px 0 16px;border-right: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;line-height: 24px;font-family: SimSun;background: #fff;}
.wst-contrast .table2 th {width: 125px;text-align: right;font-weight: 400;background: #f7f7f7;color: #999;}
.wst-contrast .table2 .left-title{margin-right: 36px;}
.wst-contrast .table2 .right-title{padding-left: 35px;width: 200px;overflow: hidden;word-wrap: break-word;}
.wst-contrast .table2 .list-box{width: 200px;padding-left: 35px;}
.wst-contrast .table2 .list-box li{float: left;height: 29px;line-height: 29px;padding: 0 13px;border: 1px solid #d7d7d7;margin-right: 6px;margin-bottom: 6px;cursor: pointer;}
.wst-contrast .table2 .list-box li.img{padding:0;height: 40px;}
.wst-contrast .table2 .list-box li img{width: 40px;height: 40px;}
.wst-contrast .table2 .list-box li:hover{color: #e4393c;}
.wst-contrast .table2 .list-box li.active{color: #e4393c;border-color: #e4393c;}
.wst-contrast .table2 .identical_0.active td{background: #f4f9fd;}
.wst-contrast .table2 .identical_1.active{display: none;}
/*商品对比*/
.wst-cont-frame{position: fixed;bottom: -200px;right: 50%;margin-right: -602px;z-index: 100;width: 986px;height: 139px;background: #fff;-moz-box-shadow: 0 0 15px rgba(221,221,221,0.8);-webkit-box-shadow: 0 0 15px rgba(221,221,221,0.8);box-shadow: 0 0 15px rgba(221,221,221,0.8);-webkit-transition: all .2s linear;transition: all .2s linear;}
.wst-cont-frame.show{bottom: 0;}
.wst-cont-frame .head{height: 32px;border: 1px solid #ddd;border-bottom: 2px solid #e23c3d;position: relative;}
.wst-cont-frame .head span{float: left;width: 80px;height: 36px;line-height: 30px;text-align: center;font: 14px/30px 'microsoft yahei';position: relative;left: -1px;margin-top: -4px;background: #fff;border: 2px solid #e23c3d;border-bottom: 0;color: #e23c3d}
.wst-cont-frame .head .close{text-align: right;position: absolute;right: 0;top: 0;padding-right: 22px;height: 30px;line-height: 30px;color: #005aa0;}
.wst-cont-frame .list{border: 2px solid #e23c3d;border-top: none;position: relative;}
.wst-cont-frame .goods{padding: 6px;color: #ccc;height: 90px;overflow: hidden;}
.wst-cont-frame .term{float: left;overflow: hidden;margin-right: 10px;padding: 17px 10px 12px 0;border-right: 1px dotted #e23c3d;}
.wst-cont-frame .term:hover .info .price a{opacity: 1;}
.wst-cont-frame .term .img{float: left;margin-right: 5px;width: 48px;height: 48px;text-align: center;border: 1px solid #fff;overflow: hidden;}
.wst-cont-frame .term .info,.wst-cont-frame .list .term-empty .info{float: left;width: 140px;}
.wst-cont-frame .term .info .name{height:36px;line-height: 18px;overflow: hidden;display: block;color: #333;}
.wst-cont-frame .term .info .price span{color: #e4393c;font-size: 14px;font-family: Verdana;font-weight: bold;}
.wst-cont-frame .term .info .price a{padding-left: 10px;color: #005aa0;opacity: 0;}
.wst-cont-frame .term-empty{float: left;overflow: hidden;margin-right: 10px;padding: 17px 10px 12px 0;border-right: 1px dotted #e23c3d;}
.wst-cont-frame .term-empty .img{float: left;margin-right: 5px;width: 48px;height: 48px;text-align: center;color: #ccc;border: 1px solid #fff;font: 36px/48px arial;overflow: hidden;background: #f6f6f6;}
.wst-cont-frame .term-contrast{position: absolute;right: 22px;top: 22px;width: 85px;text-align: center;}
.wst-cont-frame .term-contrast .contrast{display: block;margin: 0 auto;margin-bottom: 10px;font: bold 14px/30px verdana;width: 60px;height: 30px;line-height: 30px;text-align: center;background: #e4393c;color: #fff;}
.wst-cont-frame .term-contrast .contrast:hover{background: #e75153;}
.wst-cont-frame .term-contrast .empty{color: #005aa0;}