<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::head"></head>
<body>
<div th:replace="top::top"></div>
<div th:replace="header::header"></div>


<div class="wst-container">
    <div id="stepflex" class="stepflex">
        <dl class="first doing">
            <dt class="s-num">1</dt>
            <dd class="s-text">我的购物车</dd>
            <dd></dd>
        </dl>
        <dl class="normal doing">
            <dt class="s-num">2</dt>
            <dd class="s-text">填写核对订单信息</dd>
        </dl>
        <dl class="third doing">
            <dt class="s-num">3</dt>
            <dd class="s-text">支付</dd>
        </dl>
        <dl class="last">
            <dt class="s-num1">4</dt>
            <dd class="s-text1">成功提交订单</dd>
        </dl>
    </div>
    <div class="wst-clear"></div>
    <div class="payment">

        <div class="aliPayPageDiv">
            <div class="aliPayPageLogo">
            </div>

            <div>
                <span class="confirmMoneyText">扫一扫付款（元）</span>
                <span class="confirmMoney">
		￥[[${price}]]</span>

            </div>
            <div>
                <img class="aliPayImg" src="/img/alipay2wei.png">
            </div>


            <div>
                <a href="/orderfinish?" th:href="'/orderfinish?orderid='+${orderid}"><button class="confirmPay" >确认支付</button></a>
            </div>

        </div>

    </div>
</div>
<script async="async" type="text/javascript" src="/js/index.js"></script>


<script async="async" type="text/javascript" src="/js/carts.js"></script>




</body>
</html>